:host {
  ion-grid {
    position: relative;
    height: 100% !important;

    ion-row {
      height: 100% !important;
    }

    ion-col {
      border: 1px solid black;
      padding: unset;
    }

    ion-col:first-child {
      border-right: unset;
    }
  }
}
